body {
  margin: 0px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(http://res.cloudinary.com/dcoifbans/image/upload/o_20/v1499799960/oMZcsAE_h7fwvp.jpg);
  background-size: cover;

  .container {
    width: 700px;
    height: 320px;
    position: relative;

    .blur-container, .blur {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      overflow: hidden;
    }

    .blur {
      background: rgba(0,0,0,0.5);
      filter: blur(2px);
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      display: flex;
      justify-content: space-around;
      color: white;
    }
  }
  .router-view {
    background: white;
    position: absolute;
    top: -30px;
    height: 380px;
    width: 310px;

    &.login {
      left: 60px;
      box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.6);
    }
    &.register {
      right: 60px;
      box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.6);
    }
  }
}

.left-enter-active {
  transition: all .3s ease;
}
.left-leave-active {
  transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.left-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(-150px);
  opacity: 0;
}

.right-enter-active {
  transition: all .3s ease;
}
.right-leave-active {
  transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.right-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(150px);
  opacity: 0;
}